In [4]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.model_selection import train_test_split

df = pd.read_csv("ted_main.csv")
df1 = pd.read_csv("transcripts.csv")
#initial analysis
#del(data['description'])
#del(data['main_speaker'])
#del(data['name'])
#del(data['speaker_occupation'])
#del(data['title'])
#del(data['url'])

In [5]:
df.head()

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","[{'id': 1725, 'hero': 'https://pe.tedcdn.com/i...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,1,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...","[{'id': 1041, 'hero': 'https://pe.tedcdn.com/i...",Activist for environmental justice,"['MacArthur grant', 'activism', 'business', 'c...",Greening the ghetto,https://www.ted.com/talks/majora_carter_s_tale...,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...","[{'id': 2056, 'hero': 'https://pe.tedcdn.com/i...",Global health expert; data visionary,"['Africa', 'Asia', 'Google', 'demo', 'economic...",The best stats you've ever seen,https://www.ted.com/talks/hans_rosling_shows_t...,12005869

In [6]:
df.columns

Index(['comments', 'description', 'duration', 'event', 'film_date',
       'languages', 'main_speaker', 'name', 'num_speaker', 'published_date',
       'ratings', 'related_talks', 'speaker_occupation', 'tags', 'title',
       'url', 'views'],
      dtype='object')

In [7]:
df['published_date'] = pd.to_datetime(df['published_date'])
df['film_date'] = pd.to_datetime(df['film_date'])

In [8]:
df.describe()
#del(data['event'])

          comments     duration    languages  num_speaker         views
count  2550.000000  2550.000000  2550.000000  2550.000000  2.550000e+03
mean    191.562353   826.510196    27.326275     1.028235  1.698297e+06
std     282.315223   374.009138     9.563452     0.207705  2.498479e+06
min       2.000000   135.000000     0.000000     1.000000  5.044300e+04
25%      63.000000   577.000000    23.000000     1.000000  7.557928e+05
50%     118.000000   848.000000    28.000000     1.000000  1.124524e+06
75%     221.750000  1046.750000    33.000000     1.000000  1.700760e+06
max    6404.000000  5256.000000    72.000000     5.000000  4.722711e+07

In [9]:
X = df[["comments", "duration","languages", "num_speaker"]]
y = df["views"]
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=324)
reg = linear_model.Ridge (alpha = 0.5)
reg.fit(X_train, y_train)
predicted = reg.predict(X_test)
temp = reg.score(X_test,y_test)
print(temp)
print(reg.coef_)
print(mean_squared_error(predicted, y_test))
print(r2_score(predicted, y_test))

0.0329358592634
[  4800.59818153    335.96504815  58645.12711087  81416.76158805]
9.53344065328e+12
-0.446088541032

In [61]:
temp

0.032934908255207063

In [12]:
data['comments'].describe()

count    2550.000000
mean      191.562353
std       282.315223
min         2.000000
25%        63.000000
50%       118.000000
75%       221.750000
max      6404.000000
Name: comments, dtype: float64

In [13]:
import json
from pandas.io.json import json_normalize as jsy

In [26]:
data['tags']

0       ['children', 'creativity', 'culture', 'dance',...
1       ['alternative energy', 'cars', 'climate change...
2       ['computers', 'entertainment', 'interface desi...
3       ['MacArthur grant', 'activism', 'business', 'c...
4       ['Africa', 'Asia', 'Google', 'demo', 'economic...
5       ['business', 'culture', 'entertainment', 'goal...
6       ['Christianity', 'God', 'atheism', 'comedy', '...
7       ['architecture', 'collaboration', 'culture', '...
8       ['God', 'TED Brain Trust', 'atheism', 'brain',...
9       ['Christianity', 'God', 'culture', 'happiness'...
10      ['activism', 'architecture', 'collaboration', ...
11      ['TED Prize', 'art', 'culture', 'entertainment...
12      ['TED Prize', 'collaboration', 'disease', 'ebo...
13      ['demo', 'design', 'interface design', 'techno...
14      ['children', 'design', 'education', 'entrepren...
15      ['entertainment', 'music', 'performance', 'vio...
16      ['creativity', 'entertainment', 'music', 'perf...
17      ['MacArthur grant', 'alternative energy', 'des...
18      ['DNA', 'biology', 'creativity', 'design', 'in...
19      ['business', 'collaboration', 'culture', 'inve...
20      ['business', 'collaboration', 'culture', 'glob...
21      ['collaboration', 'comedy', 'community', 'cult...
22      ['business', 'communication', 'community', 'cu...
23      ['cognitive science', 'culture', 'evolution', ...
24      ['culture', 'entertainment', 'gender', 'global...
25      ['climate change', 'cosmos', 'culture', 'envir...
26      ['astronomy', 'biology', 'cognitive science', ...
27      ['business', 'cities', 'culture', 'economics',...
28      ['business', 'choice', 'consumerism', 'culture...
29      ['TED Brain Trust', 'brain', 'choice', 'cultur...
                              ...
2520    ['AI', 'computers', 'economics', 'future', 'hu...
2521    ['biology', 'biomechanics', 'cancer', 'chemist...
2522    ['Africa', 'art', 'beauty', 'creativity', 'per...
2523    ['TEDx', 'business', 'capitalism', 'community'...
2524    ['Africa', 'TED Fellows', 'art', 'creativity',...
2525    ['TEDx', 'activism', 'children', 'family', 'po...
2526    ['AI', 'education', 'intelligence', 'robots', ...
2527    ['TEDx', 'United States', 'activism', 'democra...
2528    ['TEDx', 'ancient world', 'archaeology', 'cons...
2529    ['TEDx', 'community', 'humanity', 'identity', ...
2530    ['architecture', 'art', 'cities', 'creativity'...
2531    ['TEDx', 'security', 'social media', 'terroris...
2532    ['algorithm', 'business', 'collaboration', 'co...
2533    ['TED en Español', 'art', 'creativity', 'desig...
2534    ['TEDx', 'art', 'climate change', 'environment...
2535    ['Africa', 'activism', 'cities', 'government',...
2536    ['TEDx', 'communication', 'friendship', 'polit...
2537    ['happiness', 'humanity', 'personal growth', '...
2538    ['TEDx', 'business', 'corruption', 'economics'...
2539    ['Africa', 'agriculture', 'farming', 'food', '...
2540    ['business', 'capitalism', 'collaboration', 'e...
2541               ['TEDx', 'physics', 'play', 'science']
2542    ['Africa', 'activism', 'art', 'community', 'hi...
2543    ['DNA', 'Human body', 'biology', 'data', 'entr...
2544    ['Africa', 'agriculture', 'history', 'leadersh...
2545    ['TED Residency', 'United States', 'community'...
2546    ['Mars', 'South America', 'TED Fellows', 'astr...
2547    ['AI', 'ants', 'fish', 'future', 'innovation',...
2548    ['Internet', 'TEDx', 'United States', 'communi...
2549    ['cities', 'design', 'future', 'infrastructure...
Name: tags, Length: 2550, dtype: object

In [27]:
data1 = pd.read_csv("transcripts.csv")

In [28]:
data1.head()

,transcript,url
0,Good morning. How are you?(Laughter)It's been ...,https://www.ted.com/talks/ken_robinson_says_sc...
1,"Thank you so much, Chris. And it's truly a gre...",https://www.ted.com/talks/al_gore_on_averting_...
2,"(Music: ""The Sound of Silence,"" Simon & Garfun...",https://www.ted.com/talks/david_pogue_says_sim...
3,If you're here today — and I'm very happy that...,https://www.ted.com/talks/majora_carter_s_tale...
4,"About 10 years ago, I took on the task to teac...",https://www.ted.com/talks/hans_rosling_shows_t...

In [29]:
data1.shape

(2467, 2)

In [38]:
data[data['languages']==0].shape

(86, 17)

In [35]:
data.shape

(2550, 17)

In [36]:
data1.shape

(2467, 2)

In [11]:
import re
import nltk
import operator

df2 = df['tags']
temp = {}
for each in df2.values:
    list = each.split()
    for every in list:
        test = re.sub('[^A-Za-z0-9]+', ' ', every)
        test = test.lower()
        if test in temp.keys():
            temp[test] +=  1
        else:
            temp[test]= 1

dict_items([(' children ', 143), (' creativity ', 189), (' culture ', 486), (' dance ', 25), (' education ', 153), (' parenting ', 50), (' teaching ', 43), (' alternative', 37), ('energy ', 70), (' cars ', 20), (' climate', 87), ('change ', 305), (' environment ', 165), (' global', 565), ('issues ', 501), (' science ', 567), (' sustainability ', 80), (' technology ', 727), (' computers ', 111), (' entertainment ', 299), (' interface', 28), ('design ', 108), (' media ', 68), (' music ', 140), (' performance ', 117), (' simplicity ', 14), (' software ', 45), (' macarthur', 13), ('grant ', 13), (' activism ', 157), (' business ', 348), (' cities ', 123), (' green ', 73), (' inequality ', 94), (' politics ', 128), (' pollution ', 39), (' africa ', 105), (' asia ', 26), (' google ', 10), (' demo ', 53), (' economics ', 164), ('development ', 64), (' health ', 236), (' math ', 57), (' statistics ', 28), (' visualizations ', 83), (' goal setting ', 36), (' motivation ', 63), (' potential ', 73), (' psychology ', 122), (' christianity ', 6), (' god ', 16), (' atheism ', 5), (' comedy ', 48), (' humor ', 105), (' religion ', 56), (' storytelling ', 120), (' architecture ', 82), (' collaboration ', 174), (' design ', 418), (' library ', 18), (' ted', 254), ('brain', 49), ('trust ', 49), (' brain ', 158), (' cognitive', 58), ('science ', 66), (' consciousness ', 24), (' evolution ', 68), (' philosophy ', 64), (' happiness ', 73), (' leadership ', 44), (' philanthropy ', 33), (' disaster', 25), ('relief ', 25), (' invention ', 140), (' open source ', 34), ('prize ', 30), (' art ', 221), (' film ', 67), (' movies ', 18), (' peace ', 54), (' social', 270), (' disease ', 79), (' ebola ', 11), (' entrepreneur ', 64), (' violin ', 6), (' wunderkind ', 6), (' youth ', 38), (' piano ', 15), (' engineering ', 111), (' industrial', 29), (' dna ', 46), (' biology ', 189), (' nature ', 116), (' product', 51), (' science', 42), ('and', 42), ('art ', 68), (' wikipedia ', 8), (' community ', 148), (' communication ', 191), (' gender ', 27), (' love ', 39), (' relationships ', 29), (' theater ', 16), (' women ', 117), (' cosmos ', 16), (' physics ', 75), (' universe ', 52), (' astronomy ', 48), (' narcotics ', 7), (' race ', 43), (' choice ', 42), (' consumerism ', 22), (' food ', 57), (' marketing ', 21), (' decision making ', 36), (' personal', 96), ('growth ', 96), (' cancer ', 47), (' aging ', 43), (' biotech ', 72), (' future ', 195), (' health', 132), ('care ', 132), (' investment ', 32), (' microfinance ', 4), (' poverty ', 59), (' telecom ', 8), (' transportation ', 36), (' corruption ', 22), (' military ', 20), (' policy ', 51), (' nasa ', 21), (' aircraft ', 7), (' flight ', 15), (' rocket', 8), (' exploration ', 100), (' sports ', 31), (' travel ', 10), (' aids ', 16), (' photography ', 92), (' medicine ', 162), (' genetics ', 62), (' faith ', 24), (' illusion ', 20), (' robots ', 59), (' history ', 146), (' success ', 28), (' work ', 71), (' poetry ', 53), (' obesity ', 11), (' anthropology ', 23), (' language ', 59), (' complexity ', 18), (' time ', 17), (' evolutionary', 10), ('psychology ', 10), (' war ', 113), (' map ', 16), (' urban', 29), ('planning ', 29), (' innovation ', 229), (' united', 30), ('states ', 30), (' interview ', 14), (' performance', 23), (' materials ', 39), (' code ', 25), (' work life', 14), ('balance ', 14), (' ants ', 4), (' biodiversity ', 62), (' ecology ', 54), (' insects ', 35), (' animals ', 109), (' primates ', 6), (' typography ', 6), (' live', 80), ('music ', 80), (' singer ', 17), (' brazil ', 10), (' animation ', 16), (' biomimicry ', 22), (' fish ', 28), (' oceans ', 77), (' apes ', 3), (' intelligence ', 50), (' biomechanics ', 30), (' online', 23), ('video ', 23), (' guitar ', 17), (' vocals ', 9), (' cello ', 3), (' self ', 50), (' china ', 21), (' web ', 43), (' memory ', 23), (' spoken', 15), ('word ', 15), (' composing ', 11), (' natural', 22), ('disaster ', 10), (' energy ', 52), (' museums ', 13), (' water ', 41), (' ai ', 43), (' microsoft ', 3), (' virtual', 14), ('reality ', 16), (' women', 26), ('in', 26), ('business ', 26), (' buddhism ', 7), (' new', 8), ('york ', 8), (' death ', 44), (' terrorism ', 38), (' moon ', 3), (' planets ', 27), (' adventure ', 48), (' mining ', 3), (' space ', 60), (' meme ', 5), (' bioethics ', 23), (' gaming ', 31), (' literature ', 21), (' prosthetics ', 17), (' books ', 36), (' sociology ', 21), (' violence ', 69), (' human', 21), ('origins ', 11), (' humanity ', 182), (' paleontology ', 10), (' asteroid ', 5), (' solar', 33), ('system ', 17), (' drones ', 18), (' illness ', 53), (' depression ', 25), (' mental', 59), ('health ', 121), (' suicide ', 8), (' law ', 48), (' string', 10), ('theory ', 10), (' magic ', 18), (' compassion ', 35), (' empathy ', 26), (' writing ', 67), (' play ', 18), (' south', 14), ('america ', 14), (' world', 19), ('cultures ', 19), (' infrastructure ', 49), (' ancient', 22), ('world ', 22), (' bees ', 11), (' garden ', 23), (' plants ', 28), (' toy ', 15), (' telescopes ', 18), (' hack ', 12), (' heart', 15), (' public', 65), (' big', 74), ('bang ', 9), (' bacteria ', 27), (' microbiology ', 31), (' news ', 19), (' submarine ', 10), (' sex ', 34), (' society ', 224), (' archaeology ', 9), (' dinosaurs ', 10), (' beauty ', 63), (' plastic ', 10), (' vaccines ', 12), (' conducting ', 7), (' family ', 54), (' trees ', 15), (' astrobiology ', 11), (' extraterrestrial', 14), ('life ', 14), (' introvert ', 5), (' personality ', 21), (' origami ', 2), (' dark', 13), ('matter ', 13), (' identity ', 113), (' nanoscale ', 24), (' geology ', 6), (' life ', 111), (' morality ', 22), (' presentation ', 14), (' crime ', 44), (' evil ', 2), (' prison ', 19), (' democracy ', 47), (' smell ', 9), (' charter', 8), ('for', 8), ('compassion ', 8), ('media ', 52), (' senses ', 23), (' mars ', 12), (' fashion ', 14), (' alzheimer s ', 6), (' curiosity ', 30), (' programming ', 20), (' chemistry ', 38), (' shopping ', 7), (' body', 11), ('language ', 11), (' virus ', 12), (' fear ', 31), (' birds ', 12), (' wind', 7), (' extreme', 7), ('sports ', 7), (' prediction ', 13), (' productivity ', 20), (' mind ', 71), ('fellows ', 143), ('resources ', 12), (' agriculture ', 36), (' india ', 17), (' neuroscience ', 89), (' tedx ', 450), (' money ', 32), (' state building ', 5), (' anthropocene ', 14), (' europe ', 18), (' data ', 94), (' sight ', 21), (' internet ', 84), (' government ', 93), (' men ', 9), (' advertising ', 10), (' sanitation ', 14), (' weather ', 13), ('problems ', 65), (' rivers ', 8), (' slavery ', 10), (' sexual', 10), ('violence ', 10), (' trafficking ', 6), (' egypt ', 14), (' novel ', 3), (' feminism ', 29), (' tedmed ', 19), (' autism', 10), ('spectrum', 10), ('disorder ', 10), (' botany ', 15), (' mission', 22), ('blue ', 22), (' friendship ', 11), (' student ', 6), (' hiv ', 6), (' nuclear', 14), ('weapons ', 4), (' oil ', 5), (' surveillance ', 21), (' iraq ', 12), (' islam ', 9), (' monkeys ', 7), (' lgbt ', 14), (' iran ', 5), (' middle', 32), ('east ', 32), (' sound ', 18), (' ptsd ', 10), (' population ', 12), (' manufacturing ', 16), (' tedyouth ', 24), (' gender', 40), ('equality ', 34), (' bullying ', 7), (' trust ', 11), (' sleep ', 4), (' journalism ', 50), (' cyborg ', 6), (' foreign', 8), ('policy ', 8), (' surgery ', 13), (' medical', 103), ('research ', 92), (' protests ', 13), (' deextinction ', 7), (' disability ', 34), (' exoskeleton ', 6), (' driverless', 9), ('cars ', 9), (' crowdsourcing ', 9), (' brand ', 3), (' speech ', 15), (' failure ', 14), (' security ', 40), (' pain ', 9), (' blindness ', 12), ('spectrum ', 6), (' glacier ', 4), (' mobility ', 7), ('en', 12), ('espa ol ', 12), ('spaces ', 18), ('body ', 10), (' nonviolence ', 6), (' pharmaceuticals ', 21), (' molecular', 32), ('biology ', 45), (' behavioral', 23), ('economics ', 23), ('imaging ', 11), (' physiology ', 23), (' pregnancy ', 8), (' synthetic', 13), (' hearing ', 5), (' jazz ', 4), (' nobel', 3), (' finance ', 17), (' algorithm ', 38), (' 3d', 3), ('printing ', 3), (' guns ', 6), (' conservation ', 15), (' immigration ', 14), (' criminal', 10), ('justice ', 10), (' ted ed ', 11), (' privacy ', 16), (' microbes ', 16), (' machine', 18), ('learning ', 18), (' skateboarding ', 1), (' augmented', 2), (' forensics ', 3), (' painting ', 8), (' pandemic ', 3), (' meditation ', 7), (' mindfulness ', 5), (' syria ', 8), (' transgender ', 7), (' testing ', 1), (' debate ', 7), (' farming ', 10), (' cloud ', 1), ('books ', 17), (' television ', 5), (' street', 3), (' addiction ', 5), (' crispr ', 4), (' vulnerability ', 4), (' capitalism ', 13), (' refugees ', 12), (' grammar ', 2), (' resources ', 5), (' discovery ', 12), (' blockchain ', 3), (' tednyc ', 19), (' urban ', 4), ('residency ', 6), (' biosphere ', 7), (' epidemiology ', 3), (' funny ', 1)])

In [15]:
new = pd.DataFrame.from_dict(temp, orient="index")

In [77]:
topTags = new.sort_values(by = 0, ascending=False).head(15).index
newtopTags = []
for i in topTags:
    #print(type(i))
    newtopTags.append(i.strip())

In [84]:
xx = pd.DataFrame(0, index=np.arange(len(df)), columns=newtopTags)
xx.columns

#xx['children'] = 0

Index(['technology', 'science', 'global', 'issues', 'culture', 'tedx',
       'design', 'business', 'change', 'entertainment', 'social', 'ted',
       'health', 'innovation', 'society'],
      dtype='object')

In [70]:
'technology' in df['tags'][0]
print(df['tags'][0])
'culture' in df['tags'][0]

['children', 'creativity', 'culture', 'dance', 'education', 'parenting', 'teaching']

True

In [89]:
for i in range(len(df)):
    for j in topTags:
        j = str(j).strip()
        if str(j) in df['tags'][i]:
            xx[str(j)][i] = 1

In [90]:
xx.head()

,technology,science,global,issues,culture,tedx,design,business,change,entertainment,social,ted,health,innovation,society
0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,0,0,0,1,0,0,0,0,0,0
2,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0

In [88]:
df['tags'][1]

"['alternative energy', 'cars', 'climate change', 'culture', 'environment', 'global issues', 'science', 'sustainability', 'technology']"

In [9]:
data['tags']

0       ['children', 'creativity', 'culture', 'dance',...
1       ['alternative energy', 'cars', 'climate change...
2       ['computers', 'entertainment', 'interface desi...
3       ['MacArthur grant', 'activism', 'business', 'c...
4       ['Africa', 'Asia', 'Google', 'demo', 'economic...
5       ['business', 'culture', 'entertainment', 'goal...
6       ['Christianity', 'God', 'atheism', 'comedy', '...
7       ['architecture', 'collaboration', 'culture', '...
8       ['God', 'TED Brain Trust', 'atheism', 'brain',...
9       ['Christianity', 'God', 'culture', 'happiness'...
10      ['activism', 'architecture', 'collaboration', ...
11      ['TED Prize', 'art', 'culture', 'entertainment...
12      ['TED Prize', 'collaboration', 'disease', 'ebo...
13      ['demo', 'design', 'interface design', 'techno...
14      ['children', 'design', 'education', 'entrepren...
15      ['entertainment', 'music', 'performance', 'vio...
16      ['creativity', 'entertainment', 'music', 'perf...
17      ['MacArthur grant', 'alternative energy', 'des...
18      ['DNA', 'biology', 'creativity', 'design', 'in...
19      ['business', 'collaboration', 'culture', 'inve...
20      ['business', 'collaboration', 'culture', 'glob...
21      ['collaboration', 'comedy', 'community', 'cult...
22      ['business', 'communication', 'community', 'cu...
23      ['cognitive science', 'culture', 'evolution', ...
24      ['culture', 'entertainment', 'gender', 'global...
25      ['climate change', 'cosmos', 'culture', 'envir...
26      ['astronomy', 'biology', 'cognitive science', ...
27      ['business', 'cities', 'culture', 'economics',...
28      ['business', 'choice', 'consumerism', 'culture...
29      ['TED Brain Trust', 'brain', 'choice', 'cultur...
                              ...
2520    ['AI', 'computers', 'economics', 'future', 'hu...
2521    ['biology', 'biomechanics', 'cancer', 'chemist...
2522    ['Africa', 'art', 'beauty', 'creativity', 'per...
2523    ['TEDx', 'business', 'capitalism', 'community'...
2524    ['Africa', 'TED Fellows', 'art', 'creativity',...
2525    ['TEDx', 'activism', 'children', 'family', 'po...
2526    ['AI', 'education', 'intelligence', 'robots', ...
2527    ['TEDx', 'United States', 'activism', 'democra...
2528    ['TEDx', 'ancient world', 'archaeology', 'cons...
2529    ['TEDx', 'community', 'humanity', 'identity', ...
2530    ['architecture', 'art', 'cities', 'creativity'...
2531    ['TEDx', 'security', 'social media', 'terroris...
2532    ['algorithm', 'business', 'collaboration', 'co...
2533    ['TED en Español', 'art', 'creativity', 'desig...
2534    ['TEDx', 'art', 'climate change', 'environment...
2535    ['Africa', 'activism', 'cities', 'government',...
2536    ['TEDx', 'communication', 'friendship', 'polit...
2537    ['happiness', 'humanity', 'personal growth', '...
2538    ['TEDx', 'business', 'corruption', 'economics'...
2539    ['Africa', 'agriculture', 'farming', 'food', '...
2540    ['business', 'capitalism', 'collaboration', 'e...
2541               ['TEDx', 'physics', 'play', 'science']
2542    ['Africa', 'activism', 'art', 'community', 'hi...
2543    ['DNA', 'Human body', 'biology', 'data', 'entr...
2544    ['Africa', 'agriculture', 'history', 'leadersh...
2545    ['TED Residency', 'United States', 'community'...
2546    ['Mars', 'South America', 'TED Fellows', 'astr...
2547    ['AI', 'ants', 'fish', 'future', 'innovation',...
2548    ['Internet', 'TEDx', 'United States', 'communi...
2549    ['cities', 'design', 'future', 'infrastructure...
Name: tags, Length: 2550, dtype: object

In [12]:
json_data = df['ratings'] # your list with json objects (dicts)


for item in json_data:
    print(item)
    for data_item in item:
        print(data_item['name'])
        print (data_item['count'])

df['ratings'] = df['ratings'].apply(lambda x: ast.literal_eval(x))
df['funny'] = df['ratings'].apply(lambda x: x[0]['count'])
df['jawdrop'] = df['ratings'].apply(lambda x: x[-3]['count'])
df['beautiful'] = df['ratings'].apply(lambda x: x[3]['count'])
df['confusing'] = df['ratings'].apply(lambda x: x[2]['count'])
print(df['funny'].head())


    

import datetime
df['film_date'] = df['film_date'].apply(lambda x: datetime.datetime.fromtimestamp( int(x)).strftime('%d-%m-%Y'))
df['published_date'] = df['published_date'].apply(lambda x: datetime.datetime.fromtimestamp( int(x)).strftime('%d-%m-%Y'))
print(df.head())


pop_talks = df[['title','main_speaker','views','film_date']].sort_values('views',ascending=False)[:15]
print(pop_talks)

[{'id': 7, 'name': 'Funny', 'count': 19645}, {'id': 1, 'name': 'Beautiful', 'count': 4573}, {'id': 9, 'name': 'Ingenious', 'count': 6073}, {'id': 3, 'name': 'Courageous', 'count': 3253}, {'id': 11, 'name': 'Longwinded', 'count': 387}, {'id': 2, 'name': 'Confusing', 'count': 242}, {'id': 8, 'name': 'Informative', 'count': 7346}, {'id': 22, 'name': 'Fascinating', 'count': 10581}, {'id': 21, 'name': 'Unconvincing', 'count': 300}, {'id': 24, 'name': 'Persuasive', 'count': 10704}, {'id': 23, 'name': 'Jaw-dropping', 'count': 4439}, {'id': 25, 'name': 'OK', 'count': 1174}, {'id': 26, 'name': 'Obnoxious', 'count': 209}, {'id': 10, 'name': 'Inspiring', 'count': 24924}]

TypeError: string indices must be integers

In [13]:
df['ratings']

0       [{'id': 7, 'name': 'Funny', 'count': 19645}, {...
1       [{'id': 7, 'name': 'Funny', 'count': 544}, {'i...
2       [{'id': 7, 'name': 'Funny', 'count': 964}, {'i...
3       [{'id': 3, 'name': 'Courageous', 'count': 760}...
4       [{'id': 9, 'name': 'Ingenious', 'count': 3202}...
5       [{'id': 7, 'name': 'Funny', 'count': 1102}, {'...
6       [{'id': 3, 'name': 'Courageous', 'count': 477}...
7       [{'id': 9, 'name': 'Ingenious', 'count': 195},...
8       [{'id': 3, 'name': 'Courageous', 'count': 562}...
9       [{'id': 21, 'name': 'Unconvincing', 'count': 8...
10      [{'id': 3, 'name': 'Courageous', 'count': 169}...
11      [{'id': 1, 'name': 'Beautiful', 'count': 70}, ...
12      [{'id': 8, 'name': 'Informative', 'count': 188...
13      [{'id': 9, 'name': 'Ingenious', 'count': 1014}...
14      [{'id': 3, 'name': 'Courageous', 'count': 83},...
15      [{'id': 1, 'name': 'Beautiful', 'count': 1671}...
16      [{'id': 1, 'name': 'Beautiful', 'count': 1107}...
17      [{'id': 9, 'name': 'Ingenious', 'count': 321},...
18      [{'id': 1, 'name': 'Beautiful', 'count': 259},...
19      [{'id': 1, 'name': 'Beautiful', 'count': 104},...
20      [{'id': 9, 'name': 'Ingenious', 'count': 117},...
21      [{'id': 7, 'name': 'Funny', 'count': 2799}, {'...
22      [{'id': 8, 'name': 'Informative', 'count': 82}...
23      [{'id': 7, 'name': 'Funny', 'count': 780}, {'i...
24      [{'id': 3, 'name': 'Courageous', 'count': 654}...
25      [{'id': 9, 'name': 'Ingenious', 'count': 269},...
26      [{'id': 1, 'name': 'Beautiful', 'count': 333},...
27      [{'id': 7, 'name': 'Funny', 'count': 485}, {'i...
28      [{'id': 7, 'name': 'Funny', 'count': 1668}, {'...
29      [{'id': 7, 'name': 'Funny', 'count': 1728}, {'...
                              ...
2520    [{'id': 23, 'name': 'Jaw-dropping', 'count': 2...
2521    [{'id': 8, 'name': 'Informative', 'count': 146...
2522    [{'id': 1, 'name': 'Beautiful', 'count': 85}, ...
2523    [{'id': 3, 'name': 'Courageous', 'count': 46},...
2524    [{'id': 24, 'name': 'Persuasive', 'count': 19}...
2525    [{'id': 10, 'name': 'Inspiring', 'count': 119}...
2526    [{'id': 22, 'name': 'Fascinating', 'count': 11...
2527    [{'id': 3, 'name': 'Courageous', 'count': 63},...
2528    [{'id': 9, 'name': 'Ingenious', 'count': 16}, ...
2529    [{'id': 9, 'name': 'Ingenious', 'count': 24}, ...
2530    [{'id': 2, 'name': 'Confusing', 'count': 2}, {...
2531    [{'id': 8, 'name': 'Informative', 'count': 64}...
2532    [{'id': 25, 'name': 'OK', 'count': 26}, {'id':...
2533    [{'id': 1, 'name': 'Beautiful', 'count': 29}, ...
2534    [{'id': 10, 'name': 'Inspiring', 'count': 46},...
2535    [{'id': 3, 'name': 'Courageous', 'count': 77},...
2536    [{'id': 3, 'name': 'Courageous', 'count': 45},...
2537    [{'id': 1, 'name': 'Beautiful', 'count': 484},...
2538    [{'id': 10, 'name': 'Inspiring', 'count': 50},...
2539    [{'id': 10, 'name': 'Inspiring', 'count': 73},...
2540    [{'id': 1, 'name': 'Beautiful', 'count': 15}, ...
2541    [{'id': 11, 'name': 'Longwinded', 'count': 29}...
2542    [{'id': 1, 'name': 'Beautiful', 'count': 41}, ...
2543    [{'id': 1, 'name': 'Beautiful', 'count': 13}, ...
2544    [{'id': 1, 'name': 'Beautiful', 'count': 9}, {...
2545    [{'id': 3, 'name': 'Courageous', 'count': 24},...
2546    [{'id': 22, 'name': 'Fascinating', 'count': 32...
2547    [{'id': 1, 'name': 'Beautiful', 'count': 14}, ...
2548    [{'id': 11, 'name': 'Longwinded', 'count': 3},...
2549    [{'id': 21, 'name': 'Unconvincing', 'count': 2...
Name: ratings, Length: 2550, dtype: object

In [14]:
df[df["url"] != df1["url"]]

ValueError: Can only compare identically-labeled Series objects

In [35]:
#df[df["url"].isnull() == True]
df1[df1['url'].isnull()]

Empty DataFrame
Columns: [transcript, url]
Index: []

In [17]:
print(df1['url'].head())

0    https://www.ted.com/talks/ken_robinson_says_sc...
1    https://www.ted.com/talks/al_gore_on_averting_...
2    https://www.ted.com/talks/david_pogue_says_sim...
3    https://www.ted.com/talks/majora_carter_s_tale...
4    https://www.ted.com/talks/hans_rosling_shows_t...
Name: url, dtype: object

In [45]:
df.shape

(2550, 17)